* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: pink;
    background-image: url(../imgs/flot.jpg);
}
.navbar2 {
    background-color: rgb(244, 144, 177);
    color: white;
    text-align: center;
    padding: 5px 5px;
}
.navbar {
    background: pink;
    color: white;
}
.navbar ul{
    display: flex;
    gap: 4px;
    list-style: none;
}
ul{
    padding: 0 16px;
}
.França{
    text-align: center;
}
.arco{
    margin: 0 auto;
    text-align: center;
}